/*Global variables*/
:root{
	--colorHeader: #47833E;
	--colorNav: #3B3C3B;
	--colorPage: #B7E2B0;
	--colorFooter: #47833E;
}

html{
	font-family: Arial;
	background-color: var(--colorPage);
}

/*=== Flex Setup ===*/
.flexContainer{
	display: flex;
}
#topFlex{
	flex-direction: column;
}


/*=== Header formatting ===*/
header{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 2px 0;
}
header a{
	color: #000000;
	text-decoration: none;
}
header h1{
	background-color: var(--colorHeader);
	padding: .25em 2em;
	margin: 10px 0px;
}
#logo{
	background-image: url("images/logo.png");
	width: 128px;
	height: 128px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border: 2px solid black;
}


/*=== nav formating ===*/
nav{
	background-color: var(--colorNav);
	color: #FFFFFF;
}
nav a{
	color: #FFFFFF;
	text-decoration: none;

}
nav a:visited{
	color: #999999;
}
nav a:hover{
	/*Must be LAST psuedoclass*/
	color: #CC5500;
}
nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
/*.drop li{
	display: none;
	psotion: absolute;
	z-index: 1;
}*/
.drop{
	position: relative;
	display: inline-block;
}
.drop ul{
	display: none;
	background-color: var(--colorNav);
	position: absolute;
	min-width: 10em;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
	z-index: 1;
}
.drop:hover ul{
	display: block;
}
	


/*=== Main Formatting ===*/
main{
	display:flex;
	flex-flow: column nowrap;
}

footer{
	background-color: var(--colorFooter);
	text-align: center;
	font-size: 75%;
}

.blirb{
	border: 2px solid #000000;
	border-radius: 10px;
	padding: .25em 1em;
	margin: 5px 10px;
	background-color: #FFFFFF;
}

/*===MEDIUM WINDOWS===*/
@media (min-width: 600px){


}

/*===LARGE WINDOWS===*/
@media (min-width: 1024px){  

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0 5px;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	
}
nav{
	width: 10em;
}
main{
	width: 30%;
}

#topflex{
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
}
