/*Global variables*/
:root{
	/*Colors*/
	--colorHeader: #47833E;
	--colorNav: #3B3C3B;
	--colorNavBorder: #777777;
	--colorPage: #B7E2B0;
	--colorFooter: #47833E;
}

html{
	font-family: Arial;
	background-color: var(--colorPage);
}
body{
	margin: 0;
	padding: 0;
}

/*=== Flex Setup ===*/
.flexContainer{
	display: flex;
}
#topFlex{
	flex-direction: column;
}


/*=== Header formatting ===*/
header{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin: 10px 0;
	width: 100%;
}
header a{
	color: #000000;
	text-decoration: none;
	width:100%;
}
header h1{
	background-color: var(--colorHeader);
	padding: .25em 1em;
	margin: 10px 0px;
	text-align: left;
}
header #spacer{
	background-color: var(--colorHeader);
	width: 32px;
	height: 3.5em;
}
#logo{
	background-image: url("images/logo.png");
	width: 128px;
	height: 128px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border: 2px solid black;
}


/*=== nav formating ===*/
nav{
	background-color: var(--colorNav);
	color: #FFFFFF;
}
nav a{
	color: #FFFFFF;
	text-decoration: none;

}
nav a:visited{
	color: #999999;
}
nav a:hover{
	/*Must be LAST psuedoclass*/
	color: #CC5500;
}
nav ul{
	list-style-type: none;
	margin: 0;
	padding: .2em 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
nav ul li{
	border: 2px solid var(--colorNavBorder);
	padding: .1em .25em;
}
.drop{
	position: relative;
	display: inline-block;
}
.drop ul{
	display: none;
	background-color: var(--colorNav);
	position: absolute;
	min-width: 10em;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
	z-index: 1;
}
.drop:hover ul{
	display: block;
	padding: .1em .2em;
}

	


/*=== Main Formatting ===*/
main{
	display:flex;
	flex-flow: column nowrap;
}
main h2{
	padding: .25em 0.5em;
}

footer{
	background-color: var(--colorFooter);
	text-align: center;
	font-size: 75%;
	width: 100%;
}

.blirb{
	border: 2px solid #000000;
	border-radius: 10px;
	padding: .25em 1em;
	margin: 5px 10px;
	background-color: #FFFFFF;
}
#contact{
	flex-flow: column wrap;
	padding: 0.5em;
}
#contact textarea{
	margin-bottom: 4px;
}

/*===MEDIUM WINDOWS===*/
@media (min-width: 600px) {


#contact{
	flex-flow: row wrap;
	justify-content: center;	
}
#contact label{
	flex-basis:20%;
	margin: 2px;
}
#contact input{
	flex-basis:70%;
	margin: 2px;
}
#contact textarea{
	flex-basis:70%;
	margin: 2px;
}

/*===LARGE WINDOWS===*/
@media (min-width: 1024px) {  

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0 5px;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	height: 100%;
	
}
nav{
	width: 10em;
	height: 10em;
	
}
main{
	margin: 0 5px;
	width: 100%;
	margin-left: 1em;
}

#topFlex{
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin-left: 10px;

}

#contact{
	justify-content: space-between;	
}
#contact label{
	flex-basis:15%;
	
}
#contact input{
	flex-basis:33%;
}
#contact textarea{
	flex-basis:48%;
}

}
